RewriteEngine On
RewriteBase /

# Als het bestand of de directory niet bestaat, stuur door naar index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# PHP instellingen
php_flag display_errors on
php_value error_reporting E_ALL

# Zorg ervoor dat PHP bestanden direct worden uitgevoerd
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch> 