@import "tailwindcss";
@layer utilities {
    .scale-x-0 {
        --tw-scale-x: 0;
        transform: var(--tw-transform);
    }
    .scale-x-100 {
        --tw-scale-x: 1;
        transform: var(--tw-transform);
    }
    .scale-y-0 {
        --tw-scale-y: 0;
        transform: var(--tw-transform);
    }
    .scale-y-100 {
        --tw-scale-y: 1;
        transform: var(--tw-transform);
    }
    .origin-left {
        --tw-transform-origin: left;
        transform-origin: var(--tw-transform-origin);
    }
    .origin-right {
        --tw-transform-origin: right;
        transform-origin: var(--tw-transform-origin);
    }
    .origin-bottom {
        --tw-transform-origin: bottom;
        transform-origin: var(--tw-transform-origin);
    }
}