@import "tailwindcss";
<<<<<<< HEAD
.process-line {
    background: linear-gradient(60deg, #4ecdc4, #00a0b0);
    --mask:
      radial-gradient(calc(9.33rem + 1px) at 50% calc(100% + 4.8rem),#0000 calc(99% - 2px),#000 calc(101% - 2px) 99%,#0000 101%) calc(50% - 16rem) calc(50% - 4rem - 1px + .5px)/32rem calc(8rem + 2px)  repeat-x,
      radial-gradient(calc(9.33rem + 1px) at 50% -4.8rem,#0000 calc(99% - 2px),#000 calc(101% - 2px) 99%,#0000 101%) 50% calc(50% + 4rem + 1px)/32rem calc(8rem + 2px)  repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }
=======
@layer utilities {
    .scale-x-0 {
        --tw-scale-x: 0;
        transform: var(--tw-transform);
    }
    .scale-x-100 {
        --tw-scale-x: 1;
        transform: var(--tw-transform);
    }
    .scale-y-0 {
        --tw-scale-y: 0;
        transform: var(--tw-transform);
    }
    .scale-y-100 {
        --tw-scale-y: 1;
        transform: var(--tw-transform);
    }
    .origin-left {
        --tw-transform-origin: left;
        transform-origin: var(--tw-transform-origin);
    }
    .origin-right {
        --tw-transform-origin: right;
        transform-origin: var(--tw-transform-origin);
    }
    .origin-bottom {
        --tw-transform-origin: bottom;
        transform-origin: var(--tw-transform-origin);
    }
}
>>>>>>> koen
